 <h1>Sign up below</h1>
 <style>
  h5 {
   color: red;
  }
 </style>

 {% for message in messages %}
 <h5>{{message}}</h5>
 {% endfor %}

 <form action="register" method="POST">
  {% csrf_token %}
  <p>Username</p>
  <input type="text" name="Username" id="Username">
  <p>Email</p>
  <input type="email" name="email" id="email">
  <p>Pasword</p>
  <input type="password" name="password" id="password">
  <p>Reapeat password</p>
  <input type="password" name="password2" id="password2"><br>
  <br>
  <input type="submit" value="submit">
 </form>
</html>